{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<h1>About</h1>
<p>This is a super paragraph !</p>
<a href="{{ path('app_home') }}">Link to Homepage</a>
{% endblock %}
