{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<h1>Home</h1>
<p>This is a super paragraph for my homepage !</p>
<a href="{{ path('app_about') }}">Link to about webpage</a>
{% endblock %}
